<div class="row">
	<div class="col-md-6 col-md-offset-3 content">


		<% if @user.errors.any? %>
		<ul class = "text-danger list-unstyled">
			<%  for err in @user.errors.full_messages %>
			<li>
				<%= err%>
			</li>
			<% end %>
		</ul>
		<% end %>

		<%= form_for(@user, url: user_path(@user.id), method: "put") do |f|%>
		<br>
		<div class="form-group">
			<%= f.label(:firstname, class: "control-label") %>
			<%= f.text_field :firstname, autofocus: true, class: "form-control" %>

		</div>
		<div class="form-group">
			<%= f.label(:lastname, class: "control-label") %>
			<%= f.text_field :lastname, class: "form-control" %>

		</div>
		<div class="form-group">
			<%= f.label(:age, class: "control-label") %>
			<%= f.text_field :age, class: "form-control" %>

		</div>
		<div class="form-group">

			<%= f.label(:city, class: "control-label") %>
			<%= f.text_field(:city, class: "form-control") %>
		</div>
		<div class="form-group">
		<div class="form-group">
			<% @tags.each do |t| %>
				<% if @tagged.include? t.id %>
					<button type="button"class="tag btn btn-info btn-sm active" id="<%= t.id %>" style="margin-top:5px"><%= t.name %></button>
				<% else %>
					<button type="button"class="tag btn btn-info btn-sm" id="<%= t.id %>" style="margin-top:5px"><%= t.name %></button>
				<% end %>
			<% end %>
			<input type="hidden" name="tags" id="tagsinput" value="">
		</div>

			<%= f.submit("Add details", class: "btn btn-primary") %>
		</div>

		<% end %>
	</div>

</div>
</div>
<script type="text/javascript">
	var tags = <%= @tagged %>
	$(document).ready(function(){
		$(".tag").on("click", function(event) {
			if (tags.indexOf(parseInt(event.target.id)) !== -1) {
				tags.splice(event.target.id);
				$(this).toggleClass("active");
				$("#tagsinput").val(tags)
				console.log(tags)
			}
			else {
				tags.push(parseInt(event.target.id))
				$(this).toggleClass("active");
				$("#tagsinput").val(tags)
			}
		})
	})

</script>
