<div class="row">
  <div class="col-md-8 col-md-offset-2 content">

<h1> My Projects <small><%= link_to("{+}", new_user_project_path(@current_user.id)) %> </small></h1>
<br>

  <% @current_user.projects.each do |project| %>

          <div class="row spaced myprojects">
            <div class="col-md-4">
              <img src="<%= project.photo_url %>" class="thumbnail">
            </div>
            <div class="col-md-8">
              <p><h3 class="marginless"><%= project.name %></h3><br>
              submitted by, <%= project.user.username %><br>
              <%= project.description %><br>
              <%= link_to("view", user_project_path(@current_user.id, project.id))%></p>
            </div>
          </div>
  <% end  %>


<hr>
<h1> All Projects </h1>
<br>

  <% @projects.each do |project| %>
        <% if project.user_id != @current_user.id %>
          <div class="row spaced">
            <div class="col-md-4">
              <img src="<%= project.photo_url %>" class="thumbnail">
            </div>
            <div class="col-md-8">
              <p><h3 class="marginless"><%= project.name %></h3><br>
              submitted by, <%= project.user.username %><br>
              <%= project.description %><br>
              <%= link_to("view", user_project_path(@current_user.id, project.id))%></p>
            </div>
          </div>
        <% end %>
  <% end  %>

<hr>

</div>


</body>
</html>

