<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1><span>Edit</span> <%= @project.name %></h1>

    <%= form_for(@project, url: user_project_path, method: "PUT", class: "form-horizontal") do |p| %>
      <div class = "form-group">
        <%= p.label(:name, "Name", class: "control-label")%>
        <%= p.text_field(:name, autofocus: true, class: "form-control" , placeholder: "bike shop, tech company, produce store")%>
      </div>
        <div class = "form-group">
        <%= p.label(:description, "Description", class: "control-label")%>
        <%= p.text_area(:description, class: "form-control",rows: 4 )%>
      </div>

      <!-- image upload section -->
      <%= p.hidden_field(:photo_url, id: "url" ) %>
      <h4>Upload an image</h4>
      <img id="pic" src="<%= @project.photo_url %>" height="300" width="300">
      <span class="btn btn-default btn-file">Browse <input type="file" id="fileUploader"></span>

      <!-- tags section -->
      <div>
        <h4>Select tags that relate to your project</h4>
        <% @tags.each do |t| %>
          <% if @tagged.include? t.id %>
            <span class="project-tag btn btn-info btn-sm active" id="<%= t.id %>">
              <%= t.name %>
            </span>
            <% else %>
            <span class="project-tag btn btn-info btn-sm" id="<%= t.id %>">
              <%= t.name %>
            </span>
          <% end %>
        <% end %>
        <input type="hidden" name="tags" id="project-tags-input" value="">
      </div>
      <br>
      <hr>
      <%= p.submit("Save Changes", class: "btn btn-lg btn-primary right") %>
      <% end %>
  </div>
  <div class="col-md-2"></div>
</div>



<script type="text/javascript">
  var tags = <%= @tagged %>
  $(document).ready(function(){
    $(".project-tag").on("click", function(event) {
      if (tags.indexOf(parseInt(event.target.id)) !== -1) {
        var tagI = tags.indexOf(parseInt(event.target.id))
        console.log(tagI)
        tags.splice( tagI, 1 );
        $(this).toggleClass("active");
        $("#project-tags-input").val(tags)
        console.log(tags)
      }
      else {
        tags.push(parseInt(event.target.id))
        $(this).toggleClass("active");
        $("#project-tags-input").val(tags)
        console.log(tags)
      }
    })
  })
  engine();
</script>