<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">

    <h1>Create a Project</h1>

    <%= form_for(@project, url: user_projects_path(@current_user), class: "form-horizontal") do |p| %>
    <!-- project name -->
      <div class = "form-group">
        <%= p.label(:name, "Name", class: "control-label")%>
        <div>
          <%= p.text_field(:name, autofocus: true, class: "form-control" , placeholder: "Bike Shop, Tech Company, Produce Store")%>
        </div>
      </div>
      <!-- description -->
      <div class = "form-group">
        <%= p.label(:description, "Description", class: "control-label")%>
        <div>
          <%= p.text_area(:description, class: "form-control", rows: 4 )%>
        </div>
      </div>
      <!-- emails -->
      <div class = "form-group">
        <%= p.label(:emails, "Emails", class: "control-label")%>
        <div>
          <%= p.text_area(:emails, class: "form-control", rows: 4 )%>
        </div>
      </div>
      <!-- tags section -->
      <div>
        <h4>Select tags that relate to your project</h4>
        <% @tags.each do |t| %>
          <span class="project-tag btn btn-info btn-sm" id="<%= t.id %>">
            <%= t.name %>
          </span>
        <% end %>
        <input type="hidden" name="tags" id="project-tags-input" value="">
      </div>
      <br>
      <!-- photo upload -->
      <h4>Upload photos</h4>
      <img id="pic" src="http://static.squarespace.com/static/52d03994e4b0431c4901495a/t/52d194fae4b06f651ac0a8df/1389466875249/Connect%20Global%20Projects%20Icon.006.png" height="120" width="120">
      <span class="btn btn-default btn-file">Browse <input type="file" id="fileUploader"></span>
      <%= p.hidden_field(:photo_url, id: "url") %>
      <br>

      <!-- payment nonce -->
      <%= p.hidden_field(:nonce, id: "nonce") %>

      <!-- payment -->
      <div class="payment-background">
      <hr>
      <h4>Expand your audience</h4>
      <p>need more help with your naming?  poll relevant people from the nameless community.</p>
      <span class="btn btn-info btn-sm" id="expand" data-toggle="modal" data-target="#myModal" >EXPAND AUDIENCE</span> <span class="btn btn-success btn-sm" id="paid">     Paid     </span>
      <br>
      <hr>
      </div>

      <%= p.submit("Add Project", class: "btn btn-lg btn-primary right") %>

    <% end %>
      <%= link_to("Cancel", user_path(@current_user.id), class: "left") %>

      <br>

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">For $3.99<small> we will ping all the relevant people</small></h4>
            </div>
            <div class="modal-body">
              <form id="braintree">
                <input data-braintree-name="number" value="4111111111111111" class="form-control" type="text">
                <br>
                <input data-braintree-name="expiration_date" value="10/20" class="form-control" type="text">
                <br>
                <input type="submit" id="submit" value="Pay" class="btn btn-primary btn-lg btn-block">
              </form>
            </div>
            <div class="modal-footer">
                <a href="#" id="close" class="btn btn-white" data-dismiss="modal">Close</a>
            </div>
        </div><!-- /.modal-content -->
      </div>
      </div>


<input name="payment_method_nonce" type="hidden" value="">

  </div>
  <div class="col-md-2"></div>
</div>

<script>
  $(document).ready(function(){

     $('#paid').hide();
     $('#expand').click(function() {
       $('.modal-dialog').show();//Form shows on button click
     });

      braintree.setup( "<%= @client_token %> ", "custom", {id: "braintree"});

      //callback handler for form submit
      $("#braintree").submit(function(e)
      {
          console.log("submit")
          e.preventDefault(); //STOP default action
          var postData = $(this).serializeArray();
          $.ajax(
          {
              url : "/pay",
              type: "POST",
              data : postData,
              error : function(returnval) {
                console.log("success");
                var payid = $( "input[name='payment_method_nonce']" ).val();
                $('#nonce').val(payid);
                console.log(payid);
                $('.modal-dialog').hide();
                $('#myModal').hide();
                $('#paid').show();
                $('#expand').remove();
                $('#expand').addClass('btn-default');
              },
              success : function (returnval) {console.log("fail");}
          });
        });


    var projectTags = [];
      $( ".project-tag" ).on("click", function(event) {
      if (projectTags.indexOf(event.target.id) !== -1) {
        var tagI = projectTags.indexOf(event.target.id);
        projectTags.splice(tagI, 1);
        $(this).toggleClass( "active" );
        console.log(projectTags);
      }
      else {
        projectTags.push(event.target.id);
        $(this).toggleClass( "active" );
        $('#project-tags-input').val(projectTags);
        console.log(projectTags);
      }

    });
  });

  engine();
</script>


