<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">

    <h1>Create a Project</h1>

    <%= form_for(@project, url: user_projects_path(@current_user), class: "form-horizontal") do |p| %>
    <!-- project name -->
      <div class = "form-group">
        <%= p.label(:name, "Name", class: "control-label")%>
        <div>
          <%= p.text_field(:name, autofocus: true, class: "form-control" , placeholder: "Bike Shop, Tech Company, Produce Store")%>
        </div>
      </div>
      <!-- description -->
      <div class = "form-group">
        <%= p.label(:description, "Description", class: "control-label")%>
        <div>
          <%= p.text_area(:description, class: "form-control", rows: 4 )%>
        </div>
      </div>
      <!-- tags section -->
      <div>
        <h4>Select tags that relate to your project</h4>
        <% @tags.each do |t| %>
          <span class="project-tag btn btn-info btn-sm" id="<%= t.id %>">
            <%= t.name %>
          </span>
        <% end %>
        <input type="hidden" name="tags" id="project-tags-input" value="">
      </div>
      <br>
      <!-- photo upload -->
      <h4>Upload photos</h4>
      <img id="pic" src="" height="120" width="120">
      <span class="btn btn-default btn-file">Browse <input type="file" id="fileUploader"></span>
      <br>
      <hr>
      <%= p.submit("Add Project", class: "btn btn-lg btn-primary right") %>

    <% end %>
      <%= link_to("Cancel", user_path(@current_user.id), class: "left") %>

  </div>
  <div class="col-md-2"></div>
</div>