<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">

    <h1>Create a Project</h1>

    <%= form_for(@project, url: user_projects_path(@current_user), class: "form-horizontal") do |p| %>
    <!-- project name -->
      <div class = "form-group">
        <%= p.label(:name, "Name", class: "control-label")%>
        <div>
          <%= p.text_field(:name, autofocus: true, class: "form-control" , placeholder: "Bike Shop, Tech Company, Produce Store")%>
        </div>
      </div>
      <!-- description -->
      <div class = "form-group">
        <%= p.label(:description, "Description", class: "control-label")%>
        <div>
          <%= p.text_area(:description, class: "form-control", rows: 4 )%>
        </div>
      </div>
      <!-- emails -->
      <div class = "form-group">
        <%= p.label(:emails, "Emails", class: "control-label")%>
        <div>
          <%= p.text_area(:emails, class: "form-control", rows: 4 )%>
        </div>
      </div>
      <!-- tags section -->
      <div>
        <h4>Select tags that relate to your project</h4>
        <% @tags.each do |t| %>
          <span class="project-tag btn btn-info btn-sm" id="<%= t.id %>">
            <%= t.name %>
          </span>
        <% end %>
        <input type="hidden" name="tags" id="project-tags-input" value="">
      </div>
      <br>
      <!-- photo upload -->
      <h4>Upload photos</h4>
      <img id="pic" src="" height="120" width="120">
      <span class="btn btn-default btn-file">Browse <input type="file" id="fileUploader"></span>
      <%= p.hidden_field(:photo_url, id: "url") %>
      <br>
      <hr>

      <!-- payment nonce -->
      <%= p.hidden_field(:nonce, id: "nonce") %>

      <!-- payment -->
      <h4>Expand your audience</h4>
      <p>need more help with your naming?  poll relevant people from the nameless community.</p>
      <span class="btn btn-info btn-sm" id="expand">EXPAND AUDIENCE</span>
      <br>
      <hr>

      <%= p.submit("Add Project", class: "btn btn-lg btn-primary right") %>

    <% end %>
      <%= link_to("Cancel", user_path(@current_user.id), class: "left") %>

      <br>

      <form id="braintree">
        <input data-braintree-name="number" value="4111111111111111">
        <input data-braintree-name="expiration_date" value="10/20">
        <input type="submit" id="submit" value="Pay">
      </form>
    <br>


  </div>
  <div class="col-md-2"></div>
</div>

<script>
  $(document).ready(function(){

     $('#braintree').hide(); //Initially form wil be hidden.

     $('#expand').click(function() {
       $('#braintree').toggle();//Form shows on button click
       console.log('ping');
     });

      braintree.setup( "<%= @client_token %> ", "custom", {id: "braintree"});

      //callback handler for form submit
      $("#braintree").submit(function(e)
      {
          e.preventDefault(); //STOP default action
          var postData = $(this).serializeArray();
          var formURL = $(this).attr("action");
          $.ajax(
          {
              url : formURL,
              type: "POST",
              data : postData
          });
        });

      $("#braintree").submit(); //Submit  the FORM

      $("[name='commit']").hover( function (){
          var payid = $( "input[name='payment_method_nonce']" ).val();
          console.log(payid);
          $('#nonce').val(payid);
      });




    var projectTags = [];
      $( ".project-tag" ).on("click", function(event) {
      if (projectTags.indexOf(event.target.id) !== -1) {
        var tagI = projectTags.indexOf(event.target.id);
        projectTags.splice(tagI, 1);
        $(this).toggleClass( "active" );
        console.log(projectTags);
      }
      else {
        projectTags.push(event.target.id);
        $(this).toggleClass( "active" );
        $('#project-tags-input').val(projectTags);
        console.log(projectTags);
      }

    });
  });

  engine();
</script>


