<h1>Create a Project</h1>

<%= form_for(@project, url: user_projects_path, class: "form-horizontal") do |p| %>
  <div class = "form-group">
    <%= p.label(:name, "Name", class: "control-label")%>
    <%= p.text_field(:name, autofocus: true, class: "form-control" , placeholder: "bike shop, tech company, produce store")%>
  </div>
  <div class = "form-group">
    <%= p.label(:description, "Description", class: "control-label")%>
    <%= p.text_field(:description, autofocus: true, class: "form-control" )%>
  </div>
  <div class = "form-group">
    <%= p.label(:photo, "Add Photos", class: "control-label")%>
  </div>
  <%= p.submit("Add Project", class: "btn btn-lg btn-info") %>

<% end %>