
<div class="row">
  <div class="col-md-8">
    <h1 class="project-header">
      <%= @project.name %> Project
    </h1>
    <% if @project.user == @current_user %>
    <%= link_to("Edit", edit_user_project_path(@current_user, @project), class: "right") %>
    <% end %>

    <!-- names & votes -->
    <h5>suggested names</h5>
    <ul id="name_list" >
      <% @names.each do |n| %>
        <li >
          <div>
          <span id="vote_<%= n.id %>" class="vote-count"><%= n.votes_for.size %></span>
            <h3 id="name_header" >
            <%= n.name %>
            <span><button id="<%= n.id %>" type="button" class="right like-name btn btn-default btn-sm">Like</button></span>
            </h3>
          </div>
        </li>
      <% end %>

      <!-- new name added -->
      <li class="new_name_li">
        <div id="newnamediv" ></div>
      </li>

      <!-- submit new name -->
      <li class="add-new-name">
        <input id="newname" type="text" placeholder="Suggest a name" class="form-control"><button type="button" id="submitname" class="btn btn-success">Submit</button>
      </li>

    </ul>

    <br>
    <!-- description -->
    <h5>Description</h5>
    <p><%= @project.description %></p>


  </div>
  <div class="col-md-4">
    <img src="<%= @project.photo_url%>" class="project-image" style="display:block;">
    <br>
    <!-- avatar -->
    <h5>Project Owner</h5>
    <div class="row">
      <div class="col-md-2">
        <img class="avatar" src=" <%= @user.picurl %> " alt="profile pic">
      </div>
      <div class="col-md-10">
        <p><%= @user.firstname %> <%= @user.lastname %></p>
      </div>
    </div>
    <!-- tags -->
    <br>
    <h5>Related Tags</h5>
    <% @tags.each do |tag| %>
      <span class="label label-info">
        <%= tag.name %>
      </span>
    <% end %>
      <br>
    <br>
  </div>
</div>

<br>

<script id="voting-template" type="text/x-handlebars-template">
		{{#each voteData}}
				<div>
					{{totalvotes}}
				</div>
		{{/each}}
</script>

<script type="text/javascript">
$(document).ready(function(){
  $("#name_list").on("click", ".like-name", function(event) {
    $.ajax({
      type: "POST",
      url: "/users/<%= @project.user_id %>/projects/<%= @project.id %>",
      data: {nameid: this.id, voterid: <%= @current_user.id %>},
      success: function(data, textStatus, jqXHR) {
        console.log(data);
        datas = data
        $('#vote_' + event.target.id).html(datas.vote)
        console.log($('#vote_' + event.target.id).html())
      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.log("Error=" + errorThrown)
        alert("Error=" + errorThrown);
      },
      dataType: "json"
    });
  })
})
</script>

<script type="text/javascript">
$(document).ready(function(){
  $("#submitname").on("click", function(event) {
    if ($("#newname").val() !== "") {
      $.ajax({
        type: "POST",
        url: "/users/<%= @project.user_id %>/projects/<%= @project.id %>/name",
        data: {name: $("#newname").val(), user: <%= @current_user.id %>},
        success: function(data) {
          var namedata = data
          console.log(namedata.name + ", " + namedata.id)
          var newTag = HandlebarsTemplates["names/name"](namedata)
          $("#newnamediv").append(newTag);
          $("#newname").val("")
        },
        error: function(data) {
          alert("Error=" + errorThrown);
        },
        dataType: "json"
      });
    }
  })
})
</script>
<script>
engine();
</script>
