<!DOCTYPE html>
<html>
<head>
  <title>Nameless</title>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
    <script src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-flat.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <script>
      $(window).load(function (){
      // $('.box').fadeTo(1000,0, function(){})

      $( '.fader' ).each(function( i ) {
        $( this ).fadeOut( 3000 );
      });
    });
    </script>

</head>
<body>



<div class="container-fluid">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= image_tag "", class:"navbar-brand" %>
    </div>

    <% if session[:user_id] == nil %>
      <p class="navbar-text navbar-right"><a href = "/About">About</a></p>
      <p class="navbar-text navbar-right"><%= link_to("Sign up", controller: 'users', action: 'new') %></p>
    <% else %>
      <h4 class="navbar-text navbar-left"><a href="/">Nameless</a></h4>
      <%= link_to("Add Project", new_user_project_path(@current_user.id), class: "btn btn-primary navbar-right", id: "add-project-btn") %>
      <p class="navbar-text navbar-right"><a href = "/logout">logout</a></p>
      <p class="navbar-text navbar-right"><%=@current_user.username%> </p>
    <% end %>



</nav>

<div class="row">

<% flash.each do |key, value| %>
  <% if key == "notice" %>
    <%= content_tag :div, value, class: "col-md-12 banner simplenotice fader" %>
  <% elsif key == "alert" %>
    <%= content_tag :div, value, class: "col-md-12 banner simplenotice fader" %>
  <% else %>
    <%= content_tag :div, value, class: "col-md-12 banner simplenotice fader" %>
  <% end %>
<% end %>

  </div>
</div>


<div class="container page-wrap">
    <%= yield %>
</div>


<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        a long footer
      <%= @current_user %>
      </div>
    </div>
  </div>
</div>

<script>
  engine();
</script>

</body>
</html>