<!DOCTYPE html>
<html>
<head>
  <title>Nameless</title>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
    <script src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>
    <!-- <script src="assets/handlebars-v2.0.0-1.js"></script> -->

    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-flat.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <script>
      $(window).load(function (){
      // $('.box').fadeTo(1000,0, function(){})

      $( '.fader' ).each(function( i ) {
        $( this ).fadeOut( 3000 );
      });
    });
    </script>

</head>
<body>




<!-- test nav-->
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h4 class="navbar-text navbar-left"><a href="/">Nameless</a></h4>
    </div>

    <% if session[:user_id] == nil %>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <p class="navbar-text navbar-right"><a href = "/About">About</a></p>
        </li>
        <li>
          <p class="navbar-text navbar-right"><%= link_to("Sign up", controller: 'users', action: 'new') %></p>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->

    <% else %>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if (@current_user.firstname != nil) %>
        <li class="add-project-btn">
          <%= link_to("Add Project", new_user_project_path(@current_user.id), class: "btn btn-primary navbar-right", id: "add-project-btn") %>
        </li>
        <li class="dropdown">
            <a id="nav-user" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <img class="avatar-header" src="<%= @current_user.picurl %>" alt="avatar">
            <%= @current_user.firstname %> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to("My Profile", edit_user_path(@current_user.id))%></li>
              <li><a href="/logout">Log out</a></li>
            </ul>
        </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
    <% end %>

  </div><!-- /.container-fluid -->
</nav>

<!-- end test nav -->
</nav>
<br>
<div class="row">

<% flash.each do |key, value| %>
  <% if key == "notice" %>
    <%= content_tag :div, value, class: "col-md-12 banner simplenotice fader" %>
  <% elsif key == "alert" %>
    <%= content_tag :div, value, class: "col-md-12 banner simplenotice fader" %>
  <% else %>
    <%= content_tag :div, value, class: "col-md-12 banner simplenotice fader" %>
  <% end %>
<% end %>

  </div>
</div>


<div class="container page-wrap">
    <%= yield %>
</div>


<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        a long footer
      <%= @current_user %>
      </div>
    </div>
  </div>
</div>


</body>
</html>